html,
body {
  height: 100%;
}

#login{
  display: flex;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 40px;
  /* background-color: #7CB9E8; */
}

#newUser{
  padding-top: 10rem;
}

#home{
  padding-top: 10rem;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #7CB9E8; */
  background-image: linear-gradient(to bottom right, #ffffff, #99ccff);
}

#signup {
  padding: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
